In [1]:
from models.candlestick import Candlestick
import pandas as pd


candlestick = Candlestick()

df = candlestick.to_df()

df.describe()

               open          high         close           low         volumn
count    500.000000    500.000000    500.000000    500.000000     500.000000
mean   12799.827020  13203.307540  12880.955460  12413.143040   69044.071200
std     8513.844299   8986.331877   8661.848609   8107.457181   40201.347878
min     4800.010000   5365.420000   4800.000000   3782.130000   16792.400000
25%     8249.570000   8454.092500   8270.882500   8101.655000   43548.650000
50%     9514.770000   9699.500000   9518.100000   9278.545000   59921.450000
75%    11785.150000  11960.950000  11814.000000  11573.775000   84497.425000
max    47968.700000  49404.900000  48763.100000  47014.200000  402202.000000