# Data management

In [3]:
import pandas as pd
import numpy as np

bitcoin_prices = pd.read_csv("../data/bitcoin_price.csv")

type(bitcoin_prices)

pandas.core.frame.DataFrame

## Data description and calculation

### Describe data

In [13]:
bitcoin_prices.head(10)

bitcoin_prices['Open'].mean()

bitcoin_prices.describe()

              Open         High          Low        Close
count  1556.000000  1556.000000  1556.000000  1556.000000
mean    582.625328   597.992847   567.851446   584.239396
std     523.137312   542.992855   505.877401   525.904442
min      68.500000    74.560000    65.530000    68.430000
25%     254.287500   260.327500   248.835000   254.320000
50%     438.600000   447.560000   430.570000   438.855000
75%     662.437500   674.525000   646.735000   663.402500
max    2953.220000  2999.910000  2840.530000  2958.110000

In [14]:
bitcoin_prices.corr()

           Open      High       Low     Close
Open   1.000000  0.998561  0.998157  0.997514
High   0.998561  1.000000  0.997320  0.998596
Low    0.998157  0.997320  1.000000  0.998755
Close  0.997514  0.998596  0.998755  1.000000

In [19]:
df = pd.DataFrame([(.2,.3), (.0,.6), (.6, .0), (.2, .1)], columns=['dogs', 'cats'])

print(df)

print(df.describe())

df.corr()

   dogs  cats
0   0.2   0.3
1   0.0   0.6
2   0.6   0.0
3   0.2   0.1
           dogs      cats
count  4.000000  4.000000
mean   0.250000  0.250000
std    0.251661  0.264575
min    0.000000  0.000000
25%    0.150000  0.075000
50%    0.200000  0.200000
75%    0.300000  0.375000
max    0.600000  0.600000

          dogs      cats
dogs  1.000000 -0.851064
cats -0.851064  1.000000