# Creating & reading & writing

In [2]:
import pandas as pd

## DataFrame

A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

In [2]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

## Series
A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list:

In [3]:
import pandas as pd 
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

`Series` is a single column of a DataFrame

## Reading data files

In [26]:
import pandas as pd
import datetime

# use pd.read_csv() function to read the data into a DataFrame
bitcoin_prices = pd.read_csv("../data/bitcoin_price.csv")

# shape attribute to check large the resulting DataFrame is
# bitcoin_prices.shape

# head() to examine
# print(bitcoin_prices.head())

# ('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')
# dt = time.strptime(bitcoin_prices['Date'][0], '%b %d, %Y')

# convert Date column to datetime
bitcoin_prices['Date']= pd.to_datetime(bitcoin_prices['Date']) 

# set date column is index
bitcoin_prices.set_index('Date')

# tail() to see end of file
print(bitcoin_prices.tail(6))

# Get data by 2017
seven_teen_df = bitcoin_prices.loc['2017-01-01':'2017-12-30']

print(seven_teen_df)

           Date    Open    High     Low   Close Volume     Market Cap
1550 2013-05-03  106.25  108.13   79.10   97.75      -  1,180,070,000
1551 2013-05-02  116.38  125.60   92.28  105.21      -  1,292,190,000
1552 2013-05-01  139.00  139.89  107.72  116.99      -  1,542,820,000
1553 2013-04-30  144.00  146.93  134.05  139.00      -  1,597,780,000
1554 2013-04-29  134.44  147.49  134.00  144.54      -  1,491,160,000
1555 2013-04-28  135.30  135.98  132.10  134.21      -  1,500,520,000
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Market Cap]
Index: []