In [9]:
from myenv.models.candlestick import Candlestick
from myenv.helpers.constants import HIGH_INDEX, LOW_INDEX
from myenv.models.merchandise_rate import MerchandiseRate
from myenv.helpers.utils import percentage_change
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


merchandise_rate = MerchandiseRate()
merchandise_rate_id = merchandise_rate.find_by_slug('BTCUSDT')
candlestick = Candlestick(merchandise_rate_id, 'hour', 100000, "DESC")


data_prices = candlestick.to_df()

data_prices['hour_return'] = percentage_change(data_prices, LOW_INDEX, HIGH_INDEX)
data_prices['day'] = data_prices[['open']].apply(
    lambda x: x.name.strftime("%Y-%m-%d"), axis=1)
data_prices['hour'] = data_prices[['open']].apply(
    lambda x: x.name.hour, axis=1)

total = data_prices.iloc[:, 0].count()
first_date = data_prices.iloc[0].name.date()
last_date = data_prices.iloc[-1].name.date()

data_prices

,open,high,close,low,hour_return,day,hour
date,,,,,,,
2021-10-04 17:00:00+07:00,47732.20,47756.10,47585.90,47486.10,0.568587,2021-10-04,17
2021-10-04 16:00:00+07:00,47656.50,47759.40,47732.20,47525.00,0.493214,2021-10-04,16
2021-10-04 15:00:00+07:00,47838.50,47962.50,47656.50,47471.50,1.034305,2021-10-04,15
2021-10-04 14:00:00+07:00,47710.00,47860.60,47838.50,47590.00,0.568607,2021-10-04,14
2021-10-04 13:00:00+07:00,47777.10,47825.00,47710.00,47550.80,0.576646,2021-10-04,13
...,...,...,...,...,...,...,...
2017-08-17 15:00:00+07:00,4333.32,4377.85,4360.69,4333.32,1.027619,2017-08-17,15
2017-08-17 14:00:00+07:00,4316.62,4349.99,4349.99,4287.41,1.459622,2017-08-17,14
2017-08-17 13:00:00+07:00,4330.29,4345.45,4324.35,4309.37,0.837245,2017-08-17,13
2017-08-17 12:00:00+07:00,4308.83,4328.69,4315.32,4291.37,0.869652,2017-08-17,12
2017-08-17 11:00:00+07:00,4261.48,4313.62,4308.83,4261.32,1.227319,2017-08-17,11

In [10]:
def highest_in_day(x):
    max = data_prices[data_prices.day == x.day].hour_return.max()
    return data_prices[(data_prices.day == x.day) & (data_prices.hour_return == max)].hour.iat[0]


data_prices['highest_in_day'] = data_prices[[
    'day']].apply(lambda x: highest_in_day(x), axis=1)

hehe = data_prices.groupby('day').mean()

print(hehe.groupby('highest_in_day').count())