In [1]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

## Seaborn

In [10]:
data_file_path = '../data/bitcoin_price.csv'

btc_data = pd.read_csv(data_file_path, index_col="Date", parse_dates=True)

btc_data.shape

btc_data.head()

# set the width and height of the figure
plt.figure(figsize=(16,6))

# Line chart
sns.lineplot(data=btc_data)

               Open     High      Low    Close         Volume      Market Cap
Date
2017-07-31  2763.24  2889.62  2720.61  2875.34    860,575,000  45,535,800,000
2017-07-30  2724.39  2758.53  2644.85  2757.18    705,943,000  44,890,700,000
2017-07-29  2807.02  2808.76  2692.80  2726.45    803,746,000  46,246,700,000
2017-07-28  2679.73  2897.45  2679.73  2809.01  1,380,100,000  44,144,400,000
2017-07-27  2538.71  2693.32  2529.34  2671.78    789,104,000  41,816,500,000